{% extends "layout.html" %}

{% block navbarUl %}
	<form class="form-inline my-1 my-lg-0" method="post">
      <input class="form-control mr-sm-1" type="search" placeholder="isbn, title or author" name="search">
      <button class="btn my-1 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}

{% block navbarContent %}
	<a class="my-2 my-sm-0" style="color: white;" href={{url_for("logout")}}>Log out({{ current_user.name }})</a>
{% endblock %}

{% block content %}
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for message in messages %}
					{% if "Error" not in message[1]: %}
						<div class="alert alert-info">
							<strong>Success! </strong>
							{{ message[1] }}
						</div>
					{% endif %}
					{% if "Error" in message[1]: %}
						<div class="alert alert-warning">
							{{ message[1] }}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endwith %}


{% endblock %}
