{% extends "layout.html" %}

{% block navbarContent %}
	{% if current_user.is_authenticated %}
		<a class="my-2 my-sm-0" style="color: white;" href={{url_for("logout")}}>Log out</a>
	{% else %}
		<a class="my-2 my-sm-0" style="color: white;" href={{url_for("login")}}>Log in</a>
		<a class="my-2 my-sm-0" style="color: white;" href={{url_for("singin")}}>Sing out</a>
	{% endif %}
{% endblock %}

{% block content %}
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for message in messages %}
					{% if "Error" not in message[1]: %}
						<div class="alert alert-info">
							<strong>Success! </strong>
							{{ message[1] }}
						</div>
					{% endif %}
					{% if "Error" in message[1]: %}
						<div class="alert alert-warning">
							{{ message[1] }}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endwith %}
  Hi {{ current_user.name }}!
  {% endblock %}
